version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: cvlab-postgres
    restart: unless-stopped

    environment:
      POSTGRES_DB: cvlab-db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass

    ports:
      - "5432:5432"

    volumes:
      - "postgres_data:/var/lib/postgresql/data"

volumes:
  postgres_data: