spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cvlab-db
    username: user
    password: pass

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

  cvs:
    upload-dir: /tmp/sinapi

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini


